{% extends 'layout.html' %}

{% block body %}

<h1>Actualizar Usuario</h1>
    <form method="post" action="{{ url_for('update', _id=user['_id']) }}">
        <label for="name">Nombre:</label>
        <input type="text" name="name" value="{{ user['name'] }}" required><br>

        <label for="username">Usuario:</label>
        <input type="text" name="username" value="{{ user['username'] }}" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" value="{{ user['password'] }}" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ user['email'] }}" required><br>

        <button type="submit">Actualizar Usuario</button>
    </form>
    <a href="{{ url_for('Usuarios') }}">Volver a la lista de usuarios</a>
</body>


{% endblock %}